@import './breakpoints.module.scss';
@import './variables.module.scss';

.create {
  legend {
    color: $text-color-dark;
    padding: 0 5px;
  }

  &__form {
    @include for-laptop-s {
      display: grid;
      grid-template-columns: 4fr 6fr;
    }
  }

  &__image {
    width: 50%;
    border: 2px dashed $text-color-dark;
    aspect-ratio: 1 / 1;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: auto;

    @include for-laptop-s {
      width: 100%;
      margin: 0;
    }

    @include for-mobile-l {
      width: 100%;
      margin: 0;
    }
  }

  &__input {
    width: 100%;
    padding: 7px;
    font-size: 18px;
    line-height: 24px;
    outline-color: $text-color-transparent-dark;
    transition: 0.3s;
    resize: none;

    &:focus {
      outline-color: $text-color-dark;
    }

    @include for-laptop-s {
      width: 200px;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &__view {
    margin-left: 0;
    margin-top: $unit;

    @include for-laptop-s {
      display: grid;
      grid-template-rows: repeat(4, auto) 1fr;
      justify-items: start;
      align-items: start;
      margin-left: $unit;
      margin-top: 0;
    }
  }

  &__info {
    display: grid;
    gap: $unit;

    @include for-laptop-l {
      grid-template-columns: auto minmax(auto, 300px);
    }

    &Main {
      display: grid;

      b {
        margin-top: $unit;
      }

      @include for-laptop-s {
        display: grid;
        grid-template-columns: auto minmax(auto, 200px);
        gap: 10px;
        margin-top: $unit;

        b {
          margin-top: 0;
        }
      }
    }

    &Additional {
      margin-bottom: 10px;
    }
  }

  &__textarea {
    resize: none;
    transition: 0s;
  }

  &__textLang > .create__input {
    margin-bottom: 0;
  }

  &__legalInfo {
    height: 100%;

    &:hover {
      border-color: $text-color-dark;
    }

    & > textarea {
      height: 100%;
      resize: vertical;

      @include for-laptop-s {
        resize: both;
      }
    }
  }

  &__bigTextarea {
    width: 100%;
    border: transparent;
    resize: none;

    &:focus {
      outline-color: transparent;
    }

    @include for-laptop-s {
      width: 100%;
    }
  }

  // &__name {
  //   @include for-laptop-s {
  //     margin-top: $u;
  //   }
  // }

  &__price {
    margin: 10px 0;
  }

  &__gameInfo {
    width: 100%;
    margin-bottom: $unit;

    &:hover {
      border-color: $text-color-dark;
    }

    & > textarea {
      min-height: 50px;
    }

    @include for-laptop-s {
      margin-bottom: 0;
    }
  }

  &__plusImg {
    margin-top: 10px;
    width: 100%;

    &:hover {
      border-color: $text-color-dark;
    }
  }

  &__buttons {
    @include for-laptop-s {
      margin-top: 10px;
    }
  }

  &__submit {
    margin-left: auto;
    margin-top: $unit;
    width: 180px;
    height: 50px;
    cursor: pointer;
    background-color: $color-purple;
    border: thin solid $text-color-dark;
    border-radius: 3px;
    transition: 0.3s;

    &:hover {
      transform: scale(1.07);
    }

    &:active {
      color: $color-purple;
      background-color: $color-white;
      border-color: $color-purple;
      transition: 0s;
    }

    &:disabled {
      background-color: $color-white;
      color: $color-red;
      border-color: $color-red;
    }

    @include for-tablet-xxs {
      width: 100%;
    }
  }

  &__bold {
    font-weight: 700;
  }

  &__gallery {
    display: grid;
  }

  &__galleryInput {
    width: 100%;
  }

  &__galleryItem {
    display: grid;
    grid-template-columns: 1fr 52px;
    align-items: center;
    padding: $unit / 2 0;
    width: 100%;

    @include for-laptop-xs {
      &:hover .create__galleryRemove {
        visibility: visible;
      }
    }
  }

  &__galleryRemove {
    margin-left: auto;
    visibility: hidden;
    transition: 0s !important;

    @include for-tablet-xxs {
      visibility: visible;
    }
  }

  &__galleryAdd {
    margin-top: 15px;
  }

  &__error {
    color: #ff5952;
    margin-top: 0;
    margin-bottom: $unit;

    @include for-laptop-s {
      margin-bottom: 0;
    }
  }

  &__inputContainer {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-top: 15px;
    gap: 5px;
  }

  &__inputText {
    line-height: 42px;
  }

  &__description {
    width: 100%;
    min-height: 200px;
    margin-top: $unit;

    @include for-laptop-s {
      margin-top: 0;
    }
  }
}
