$color-green: #7a956b;
$color-green-dark: #6a855b;
$color-green-light: #8aa57b;
$color-purple: #77608d;
$color-red: #ff5952;
$color-grey: #f8f8f8;
$color-white: #fff;

$text-color-dark: #333;
$text-color-transparent-dark: #3333;
$text-color-white: #fff;

$unit: 15px;

$transition-base: 0.2s;
